body {
  margin: 0;
  background-color: rgb(218, 186, 145);
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.pickers{
  width: 300px;
  text-align: center;
}



